[user]
	email = alexpitzen@gmail.com
	name = alexpitzen
[alias]
	dif = diff --ws-error-highlight=new,old
	difff = diff --color-words=. --ws-error-highlight=new,old -w
	diffff = diff --find-copies-harder -B -C
[core]
	editor = nvim
